/**
 * @file src/SCSS/_variables.scss
 * @description
 * @author Tom Planche (github.com/TomPlanche)
 ********************************************/

/* COLORS */
$accent: #1f6feb;
$accent-dimmed: #1f6feb75;

$background-color: #22272e;
$black: #02040a;
$black-dimed: #02040a75;
$blue-font: #b3cadc;
$border-color: #30363d;
$button-bg: #1f6feb;
$button-hover-bg: #388bfd;

$form-bg-black: #161b22;
$form-bg-white: #a5abb2;

$gold: #D0D066;
$gold-dimmed: #D0D06650;
$green: #39d353;
$green-dimmed: #39d35375;

$link-color: #2077b2;

$red-error: #c52d2a;
$red-error-dimmed: #c52d2a75;

$white: #e8e4d9;
$white-dimmed: #e8e4d975;

$gh-bg: #0D1117;
$gh-bg-secondary: #161B22;
$gh-button: #21262D;
$gh-button-active: #30363D;
$gh-text: #BED1D9;
$gh-text-secondary: #8B949E;
$gh-button-border: #363B42;
$gh-button-border-active: #8B949E;
$gh-yellow: #E3B341;
$gh-blue: #58A6FF;
$gh-blue-dark: #1F6FEB;
$gh-red: #f56140;
$gh-red-active: #F78166;
$gh-green: #238636;
$gh-green-active: #2EA043;
$gh-green-dark: #1d5927;
$gh-border: #30363D;
$gh-border-dark: #21262D;

/* Corner radiuses */
$outer-corner-radius: 2rem;
$inner-corner-radius: $outer-corner-radius * .75;

/* Paddings */
$main-padding: 2rem;

/* Heights and Widths*/
$header-height: 5rem;
$footer-height: 5rem;


/******************************************************* Fonts *******************************************************/
@font-face {
  font-family: 'Editorial New';
  src: url('/src/assets/fonts/PP Editorial New/PPEditorialNew-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Editorial New';
  src: url('/src/assets/fonts/PP Editorial New/PPEditorialNew-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/src/assets/fonts/PP Neue Montreal/PPNeueMontreal-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/src/assets/fonts/PP Neue Montreal/PPNeueMontreal-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Bit';
  src: url('/src/assets/fonts/PP Neuebit/PPNeueBit-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Bit';
  src: url('/src/assets/fonts/PP Neuebit/PPNeueBit-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mondwest';
  src: url('/src/assets/fonts/PP Mondwest/PPMondwest-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Mondwest';
  src: url('/src/assets/fonts/PP Mondwest/PPMondwest-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Maragsa';
  src: url('/src/assets/fonts/Maragsâ/Maragsâ-Display.otf') format('otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fraktion Mono';
  src: url('/src/assets/fonts/PP Fraktion/PPFraktionMono-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fraktion Mono';
  src: url('/src/assets/fonts/PP Fraktion/PPFraktionMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fraktion Mono';
  src: url('/src/assets/fonts/PP Fraktion/PPFraktionMono-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

/* Cirka */
@font-face {
  font-family: 'Cirka';
  src: url('/src/assets/fonts/PP Cirka/PPCirka-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cirka';
  src: url('/src/assets/fonts/PP Cirka/PPCirka-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cirka';
  src: url('/src/assets/fonts/PP Cirka/PPCirka-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cirka';
  src: url('/src/assets/fonts/PP Cirka/PPCirka-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Cirka';
  src: url('/src/assets/fonts/PP Cirka/PPCirka-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

/* Migra */
@font-face {
  font-family: 'Migra';
  src: url('/src/assets/fonts/PP Migra/PPMigra-Extralight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Migra';
  src: url('/src/assets/fonts/PP Migra/PPMigra-ExtralightItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Migra';
  src: url('/src/assets/fonts/PP Migra/PPMigra-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Migra';
  src: url('/src/assets/fonts/PP Migra/PPMigra-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Migra';
  src: url('/src/assets/fonts/PP Migra/PPMigra-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Migra';
  src: url('/src/assets/fonts/PP Migra/PPMigra-Extrabold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Migra';
  src: url('/src/assets/fonts/PP Migra/PPMigra-ExtraboldItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Migra';
  src: url('/src/assets/fonts/PP Migra/PPMigra-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Migra';
  src: url('/src/assets/fonts/PP Migra/PPMigra-Extrabold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}


/* Radikal */
@font-face {
  font-family: 'Radikal';
    src: url('/src/assets/fonts/Radikal/Radikal Black.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
  font-family: 'Radikal';
    src: url('/src/assets/fonts/Radikal/Radikal Bold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
  font-family: 'Radikal';
    src: url('/src/assets/fonts/Radikal/Radikal Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Radikal';
    src: url('/src/assets/fonts/Radikal/Radikal.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: 'Radikal';
    src: url('/src/assets/fonts/Radikal/Radikal Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: 'Radikal';
    src: url('/src/assets/fonts/Radikal/Radikal Thin.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
  font-family: 'Radikal';
    src: url('/src/assets/fonts/Radikal/Radikal UltraThin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

/* TEST FONTS */

/**
 * End of file src/SCSS/_variables.scss
 */
