/**
 * @file src/App.module.scss
 * @description
 * @author Tom Planche
 */

.App {
  min-height: 200svh;
  min-width: 100svw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

/**
 * End of file src/App.module.scss
 */
